body {
	color: #000;
	font-family: Montserrat, sans-serif;
	margin: 0;
}

.header{
	display: flex;
	height: 92px;
}
.left-content {
	display: flex;
	height: 100%;
	width: 50%;
}
.header__left-content {	
	width: 32%;
}

.left-content__wrapper {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #000;
	padding: 0 24px 0 52px;
}

.header__logo {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.07em;
}
.header__lang {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.lang-around {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	margin-left: 8px;
}
.right-content {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;/* для адаптива flex-end;*/
}
.header__right-content{
	width: 68%;
}

/*Меню основное*/
.header__menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 92px;
	height: 92px;
    background-color: rgb(0, 0, 0, .05);
    z-index: 1000;
}

#header__menu-icon{
    display: none;
}

.header__menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
label {
   position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.burger-line{
	width: 50%;
	height: 3.48px;	
 	background-color: #000;
    transition: .5s all;
}

.burger-line-first {
	transform: translateY(10px);
}

.burger-line-second {
	display: none;
	
}
.burger-line-third {
	display: none;
}
.burger-line-fourth {
	transform: translateY(-10px);
}

.header__menu__links{
    display: block;
    position: absolute;
    width:300px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    background-color: rgba(0,0,0,.05);
}

.header__menu__links-item{
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.header__menu__links-item:hover {
    background-color: rgba(0,0,0,.1);
}

#header__menu-icon:checked ~ .header__menu__links {
    max-height: 500px;
    font-size: 16px;
    display: block;
}

#header__menu-icon:checked ~ .burger-line-first {
    display: none;   
}

#header__menu-icon:checked ~ .burger-line-second {
   transform: rotate(-45deg) translate(0px, 1.47px);
    display: block;
}
#header__menu-icon:checked ~ .burger-line-third {
    transform: rotate(45deg) translate(0px, -1.47px);
    display: block;
}
#header__menu-icon:checked ~ .burger-line-fourth {
     display: none;
}

/* первый экран */
.presentation,
.product,
.clot{ /*  общие параметры для экранов  */
	display: flex;
}

.presentation {
	background: #fff linear-gradient(to right, #000 32%, #fff 32%, #fff 100%);
	height: calc(100vh - 92px);
}

.presentation__left-content {
	flex-direction: column;
}
.wrapper-img {
	display: flex;
	justify-content: flex-end;
}
.presentation__wraperr-img {	
	height: calc(100% - 92px);/*100% левой части минус социалки*/
}

.presentation__img {
	content: url(../img/loco-girl.png);
	align-self: center;	
	
	width: 70%;
}

.social-wrapper {
	height: 92px;
	display: flex;
	padding-left: 52px;
	justify-content: flex-start;
}

.social{ 
	display: flex;
}

.social-item {
	margin-right: 12px;
}

.right-content__presentaion { /* правая часть первого экрана */
	height: 100%;
	flex-wrap: wrap;
	align-items: flex-end;
}

.box { /* контейнер для описания товара */
	padding: 40px;
	display: flex;
	flex-direction: column;
	max-width: 475px
}

.presentation__box {
	padding: 0;

}
.box__title {
	margin: 0;
	font-weight: 700;
	line-height: 41px;
	font-size: 40px;
}

.present__box__title {
	font-size: 80px;
	margin-bottom: 26px;
	line-height: 82px;
}

.box__text {
	font-weight: normal;
	font-style: normal;
	line-height: 21px;
	font-size: 15px;
	max-width: 467px;
}

.present__box__text {
	
}

.btn {
	color: #000;
	background-color: transparent;
	border: 2px solid #000;
	padding: 0 41px;
	height: 44px;
	font-family: Montserrat;
	line-height: 0px;
	font-style: normal;
	font-weight: 500;	
	font-size: 13px;	
	text-decoration: none;
	text-transform: uppercase;  	
  	text-shadow: none;	
}

.link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 0px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;

	margin-right: 10px;
}
.vector-links { /* отображение стрелок у ссылок */
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;

}

.box__btn-add{
	width: 253px;
}


.wrapper__vector-links {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 44px;
	
}
.presentation__wrapper__vector-links {
	align-items: center;
}

.vector-wrapper {
	display: flex;
	align-items: center;
}

.vector1-1 {
	display: flex;
	height: 1px;
	background-color: #000;
	width: 43px;

}

.vector1-2 {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 6px;
	height: 6px;
	transform: translateX(-7px) rotate(-45deg);
}

.scrooll-wrapper { /* иконка прокрутки - мышь  */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 92px;
	width: 100%;

}

.scrooll {
	border: 2px solid #000;
	border-radius: 15px;
	width: 27px;
	height: 46px;
}

.roll {
	width: 2.45px;
	height: 8.21px;
    background: #000;
    width: 2.45px;
	height: 8.21px;
	transform: translate(12px,10px);
}

/* второй экран */
.product {
	background: #FAE8E4;
	height: 100vh;
}

.product__left-content {
	align-items: center;
	justify-content: center;
}
.wraper-img{
 	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;	
}

.product__wrapper-img {	
	flex-direction: row;
}

.bag-gray {
	content: url(../img/bag-gray.png);
	transform: translateX(60%);
	width: 100%;
}

.bag-pink {
	content: url(../img/bag-pink.png);
	transform: translateX(-10%);
	width: 100%;
}

.product__right-content {
	flex-wrap: wrap;
	align-content: center;
}

.conteiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.product__box,
.clot__box {
	background-color: #fff;
}

.product__box__title {
	margin-bottom: 17px;
}

.text-opacity {
	opacity: 0.5;
}

.box__subtitle {
	margin: 0;
	margin-bottom: 64px;
}

.product__box__text {
	width: 368px;
	height: 147px;
	margin: 0;
	margin-bottom: 38px;
}

.parameter {
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 46px;
}
.parameter-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parameter__color {
	border-radius: 50%;
	width: 30.18px;
	height: 30px;
	margin-right: 12px;	
}
.parameter__color:hover {
	transform: scale(1.25);
}

.parameter__color-gray {
	background: #DEDEDE;
}

.parameter__color-pink{
	background: #F29F9F;
}

.parameter__color-blue {
	background: #A8BFF9;
}

.parameter__color-green {
	background: #90BD8F;
}

.price {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 56px;
	font-size: 40px;
}

.count_wrapper {
	display: flex;
}

.count {
	border: 2px solid #000;
	display: flex;
	justify-content: space-around;
	width: 100px;
	align-items: center;
	margin-right: 15px;
}

.count__plus,
.count__counter,
.count__minus {
	margin: 0;
	height: 100%;
	border: none;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 15px;
	padding: 0;
	text-align: center;
	vertical-align: center;
}

.vector2-1 {
	width: 235px;
}

/* третий экран*/
.clot {
	flex-wrap: wrap;
	height: calc(100vh - 92px);/* высота экрана минус подвал */
	background: linear-gradient(to right, #EBE3D8 30%, #000 30%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
}

.clot__img {
	content: url(../img/clot.png);
	width: 100%;
	transform: translateX(20%);
}

.clot__right-content {
	flex-wrap: wrap;
	align-content: center;
	z-index: 100;
}
.clot__box {
	padding: 45px;
}

.clot__box__text {
	height: 101px;
	margin-bottom: 17px;
}
.clot__parameter {
	display: none;
}
.box__product__subtitle {
	margin-bottom: 35px;
}

.clot__links {
	display: flex;
	justify-content: flex-end;
	width: 475px;
}
.clot__vector-links {
	width: 100%;
	justify-content: flex-end;
}

.vector3-1{
	width: 108px;
}
.footer {
	font-weight: bold;
	display: flex;
	justify-content: flex-end;	
	padding: 0 21px 16px 0;
	background: linear-gradient(to right, #EBE3D8 30%, #000 30%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
}

.footer__dev {
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 12px;
}
.footer__whs {	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transform: translateY(-4px);
}

.footer__webhero {
	font-size: 15px;
	color: #fd3;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px #000;
}

.footer__shcool {
	font-size: 10px;
	letter-spacing: 0.01em;
}

/* Portrait tablets and medium desktops */
@media screen and  (max-width: 1024px) {
	.presentation__img {
		transform: translateX(-10%);
		width: 80%
	}	
	.present__box__title {
		font-size: 50px;
		line-height: 51px;
	}

	.bag-gray {
		transform: scale(.7) translateX(50%);
	}

	.bag-pink {
		transform: scale(.9) translateX(-35%);
	}

	.clot__img {
    transform: scale(1.2) translateX(15%);
	}
}



/* Landscape phones and portrait tablets */
@media screen and (max-width: 720px) {

	
} 
@media screen and (max-width: 646px) {

}

/* Landscape phones and smaller  разрешение экранов 480х800 */
 @media screen and (max-width: 480px) {

 }

 @media screen and (max-width: 375px) {
 	.header {
 		height: 70px;
 	}
 	.header__left-content {
    width: 50%;
	}

 	.left-content__wrapper {
 		color: #000;
	    padding: 0 0 0 24px;
	    background-color: #fff;
	    width: 100%;
	}
	.header__logo {

	}
 	.lang-name {
		display: none;
	}	
	.header__menu {
		height: 70px;
		width: 70px;
	}
	.header__menu__links {
    	min-width: 100vw;
	}

	.presentation {
		height: calc(100vh - 70px);
		background-image: url(../img/loco-girl-2.png);
		background-size: cover;		
	}

 	.presentation__left-content {
 		display: none;
	}

	.social-wrapper {
		display: none;
	}
	.present__box__text,
	.box__btn,
	.box__link,
	.scrooll-wrapper,
	.wrapper__vector-links {
		display: none;
	}	

	.right-content__presentaion {
    	width: 100%;
    	height: 90%;
	}
	
	.presentation__box {
		width: 100%;
        justify-content: center;
        align-items: center;

	}
	.present__box__title {/* не могу сдвинуть на центр. в чет проблема?*/
		width: 80%;
		line-height: 41px;
		font-size: 40px;
		margin-bottom: 0;	
	}
	.around-wrapper {
		transform: translateY(90vh);/* костыль, чтоб на разныч телефонах на месте было*/
	}
	.lang-around {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    z-index: 555;
	}
  
	.product__wrapper-img {
		transform: scale(0.5);
	}

	.product__box__title {
		font-size: 20px;
		line-height: 20px;
		margin: 0;
	}
	.box__subtitle {
		margin-bottom: 16px;
		line-height: 10px;
	font-size: 10px;
	letter-spacing: 0.07em;
	}
	.product__box__text {
    margin-bottom: 12px;
    line-height: 13px;
	font-size: 9px;
	width: 252px;
	height: auto;
}
		.parameter {
	margin-bottom: 12px;
		
}
.parameter__color {
	width: 23.35px;
height: 22.89px;
}

.parameter__color-green {
	margin-right: 60px;
}
.price {
	line-height: 28px;
font-size: 20px;
}
	
	.product{
		flex-direction: column;

	}
	.product__right-content,
	.product__left-content {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.product__right-content {
		height: 60%;

	}
	.product__left-content {
		height: 40%;
	}

	.product__box {
        height: auto;
        transform: scale(1);
        padding: 25px 31px;
	}

	.bag-gray {
		display: none;
	}
.bag-pink {
	transform: scale(1) translate(0);
	}
	.btn {
		height: 37px;
	}

	.count,
	.product__link {
		display: none;
	}
	.box__btn-add {
		width: 100%;
	}
	.clot {
	background: linear-gradient(to right, #EBE3D8 25%, #000 25%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);

	height: 100vh;/* высота экрана минус подвал */
	
}
.clot__left-content {
	height: 50%;
}
	.clot__img {
    transform: scale(.8) translateY(20%);
    align-self: flex-start;
	}
	.clot__right-content{
		width: 100%;
	}
	.clot__box{
		padding: 25px;
		margin-bottom: 10vw;
	}

	.clot__link {
		line-height: normal;
	}
.clot__vector-links {
	align-self: flex-end;
	display: block;
	width: 50%;
}
.vector3-1 {
    width: 141px;
}
.footer {
	padding: 0 10px 10px 0;
	background: linear-gradient(to right, #EBE3D8 25%, #000 25%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
}
.footer__dev {
	margin-right: 5px;
	text-transform: uppercase;
	font-size: 10px;
}
.footer__whs {	
	display: flex;
	transform: translateY(-1px);
}

.footer__webhero {
	font-size: 10px;
	
}
.footer__shcool {
	font-size: 8px;
}
}