body {
	color: #000;
	font-family: Montserrat, sans-serif;
	margin: 0;
}

.header{
	display: flex;
	height: 92px;
}

.left-content {
	display: flex;
	height: 100%;
	width: 50%;
}

.header__left-content {	
	width: 32%;
}

.header__wrapper {
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #000;
	padding: 0 24px 0 52px;
}

.logo {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.07em;
}

.lang {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.lang__around_item {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	margin-left: 8px;
}

.right-content {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;/* для адаптива flex-end;*/
}

.header__right-content{
	width: 68%;
}

/*Меню основное*/
.menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 92px;
	height: 92px;
    background-color: rgb(0, 0, 0, .05);
    z-index: 1000;
}

#menu-icon{
    display: none;
}

.menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
   position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.burger-line{
	width: 50%;
	height: 3.48px;	
 	background-color: #000;
    transition: .5s all;
}

.burger-line--first {
	transform: translateY(10px);
}

.burger-line--second {
	display: none;
}

.burger-line--third {
	display: none;
}

.burger-line--fourth {
	transform: translateY(-10px);
}

.menu__links{
    display: block;
    position: absolute;
    width:300px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    background-color: rgba(0,0,0,.05);
}

.menu__links_item{
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.menu__links_item:hover {
    background-color: rgba(0,0,0,.1);
}

#menu-icon:checked ~ .header__menu__links {
    max-height: 500px;
    font-size: 16px;
    display: block;
}

#menu-icon:checked ~ .burger-line--first {
    display: none;   
}

#menu-icon:checked ~ .burger-line--second {
   transform: rotate(-45deg) translate(0px, 1.47px);
    display: block;
}

#menu-icon:checked ~ .burger-line--third {
    transform: rotate(45deg) translate(0px, -1.47px);
    display: block;
}

#menu-icon:checked ~ .burger-line--fourth {
     display: none;
}

/* первый экран */
.presentation,
.product,
.clot{ /*  общие параметры для экранов  */
	display: flex;
}

.presentation {
	background: #fff linear-gradient(to right, #000 32%, #fff 32%, #fff 100%);
	height: calc(100vh - 92px);
}

.presentation__left-content {
	flex-direction: column;
}

.wrapper-img {
	display: flex;
	justify-content: flex-end;
}

.presentation__wraperr-img {	
	height: calc(100% - 92px);/*100% левой части минус социалки*/
}

.presentation__img {
	content: url(../img/loco-girl.png);
	align-self: center;	
	width: 70%;
}

.social {
	height: 92px;
	display: flex;
	padding-left: 52px;
	justify-content: flex-start;
}

.social-wrapper{ 
	display: flex;
}

.social__item {
	margin-right: 12px;
}

.presentaion__right-content { /* правая часть первого экрана */
	height: 100%;
	flex-wrap: wrap;
	align-items: flex-end;
}

.box { /* контейнер для описания товара */
	padding: 40px;
	display: flex;
	flex-direction: column;
	max-width: 475px
}

.presentation__box {
	padding: 0;
}

.box__title {
	margin: 0 0 17px 0;
	font-weight: 700;
	line-height: 41px;
	font-size: 40px;
}

.box__title_present {
	font-size: 80px;
	margin-bottom: 26px;
	line-height: 82px;
}

.box__text {
	font-weight: normal;
	font-style: normal;
	line-height: 21px;
	font-size: 15px;
	max-width: 467px;
}


.btn {
	color: #000;
	background-color: transparent;
	border: 2px solid #000;
	padding: 0 41px;
	height: 44px;
	font-family: Montserrat;
	line-height: 0px;
	font-style: normal;
	font-weight: 500;	
	font-size: 13px;	
	text-decoration: none;
	text-transform: uppercase;  	
  	text-shadow: none;	
}

.link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 0px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
	margin-right: 10px;
}

.vector-links { /* отображение стрелок у ссылок */
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;

}
.vector-links__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 44px;
}
.box__btn-add{
	width: 253px;
}



.vector-links__wrapper_presentation {
	align-items: center;
}

.vector-wrapper {
	display: flex;
	align-items: center;
}

.vector1-1 {
	display: flex;
	height: 1px;
	background-color: #000;
	width: 43px;
}

.vector1-2 {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 6px;
	height: 6px;
	transform: translateX(-7px) rotate(-45deg);
}

.scrooll { /* иконка прокрутки - мышь  */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 92px;
	width: 100%;
}

.scrooll__icon {
	border: 2px solid #000;
	border-radius: 15px;
	width: 27px;
	height: 46px;
}

.scrooll__item {
	width: 2.45px;
	height: 8.21px;
    background: #000;
    width: 2.45px;
	height: 8.21px;
	transform: translate(12px,10px);
}

/* второй экран */
.product {
	background: #FAE8E4;
	height: 100vh;
}

.left-content__product {
	align-items: center;
	justify-content: center;
}

.wraper-img{
 	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;	
}

.product__wrapper-img {	
	flex-direction: row;
}

.bag-gray {
	content: url(../img/bag-gray.png);
	transform: translateX(60%);
	width: 100%;
}

.bag-pink {
	content: url(../img/bag-pink.png);
	transform: translateX(-10%);
	width: 100%;
}

.product__right-content {
	flex-wrap: wrap;
	align-content: center;
}

.conteiner-for-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product__box,
.clot__box {
	background-color: #fff;
}

.text-opacity {
	opacity: 0.5;
}

.box__subtitle {
	margin: 0;
	margin-bottom: 64px;
}

.box__text_product {
	width: 368px;
	height: 147px;
	margin: 0;
	margin-bottom: 38px;
}

.box__parameter {
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 46px;
}

.box__parameter_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box__parameter_color {
	border-radius: 50%;
	width: 30.18px;
	height: 30px;
	margin-right: 12px;	
}

.box__parameter_color:hover {
	transform: scale(1.25);
}

.box__parameter_color-gray {
	background: #DEDEDE;
}

.box__parameter_color-pink{
	background: #F29F9F;
}

.box__parameter_color-blue {
	background: #A8BFF9;
}

.box__parameter_color-green {
	background: #90BD8F;
}

.box__parameter_price {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 56px;
	font-size: 40px;
}

.count {
	display: flex;
}

.count__wrapper {
	border: 2px solid #000;
	display: flex;
	justify-content: space-around;
	width: 100px;
	align-items: center;
	margin-right: 15px;
}

.count__plus,
.count__counter,
.count__minus {
	margin: 0;
	height: 100%;
	border: none;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 15px;
	padding: 0;
	text-align: center;
	vertical-align: center;
}

.vector2-1 {
	width: 235px;
}

/* третий экран*/
.clot {
	flex-wrap: wrap;
	height: calc(100vh - 92px);/* высота экрана минус подвал */
	background: linear-gradient(to right, #EBE3D8 30%, #000 30%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
}

.clot__img {
	content: url(../img/clot.png);
	width: 100%;
	transform: translateX(20%);
}

.clot__right-content {
	flex-wrap: wrap;
	align-content: center;
	z-index: 100;
}

.clot__box {
	padding: 45px;
}

.clot__box__text {
	height: 101px;
}

.clot__parameter {
	display: none;
}

.box__product__subtitle {
	margin-bottom: 35px;
}

.clot__links {
	display: flex;
	justify-content: flex-end;
	width: 475px;
}

.clot__vector-links {
	width: 100%;
	justify-content: flex-end;
}

.vector3-1{
	width: 108px;
}

.footer {
	font-weight: bold;
	display: flex;
	justify-content: flex-end;	
	padding: 0 21px 16px 0;
	background: linear-gradient(to right, #EBE3D8 30%, #000 30%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
}

.footer__dev {
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 12px;
}

.footer__whs {	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transform: translateY(-4px);
}

.footer__webhero {
	font-size: 15px;
	color: #fd3;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px #000;
}

.footer__shcool {
	font-size: 10px;
	letter-spacing: 0.01em;
}

/* Portrait tablets and medium desktops */
@media screen and  (max-width: 1024px) {
	.presentation__img {
		transform: translateX(-10%);
		width: 80%
	}	
	.box__title_present {
		font-size: 50px;
		line-height: 51px;
	}

	.bag-gray {
		transform: scale(.7) translateX(50%);
	}

	.bag-pink {
		transform: scale(.9) translateX(-35%);
	}

	.clot__img {
    	transform: scale(1.2) translateX(15%);
	}
}


@media screen and (max-width: 950px) {
	.header {
		height: 70px;
	}

	.presentation__left-content,
	.product__left-content {
		width: 40%;
	}

	.right-content__presentaion,
	.product__right-content,
	.clot__right-content {
		width: 60%;
	}

	.btn {
		padding: 10px;
	}

	.count__minus,
	.count__counter,
	.count__plus {
		padding: 0;
	}

	.menu {
		height: 70px;
		width: 70px;
	}

	.presentation {
		height: calc(100vh - 70px);
	}

		.presentation__img {
    transform: translateX(-15%);
	}

	.social {
		transform: scale(0.8);
		padding-left: 0;
		align-items: center;
	}

	.scrooll {
		height: 70px;
		padding-left: 8vw;
		align-items: flex-start;
	}

	.scrooll__icon {
		transform: scale(0.8);
	}

	.box {
    	padding: 30px;
	}

	.box__title {
		margin: 0;
	}

	.box__subtitle {
		margin-bottom: 16px;
	}

	.box__text_product {
   		margin-bottom: 12px;
	}
	.box__parameter {
		margin-bottom: 12px;
		
	}
	.vector-links__wrapper {
	    align-items: center;
	} 
	.vector2-1 {
	    width: 170px;
	}
}


@media screen and (max-width: 760px) {
    .header__left-content {
    	width: 50%;
	}

 	.header__wrapper {
 		color: #000;
	    padding: 0 0 0 24px;
	    background-color: #fff;
	    width: 100%;
	}
	
 	.lang__name {
		display: none;
	}	
	
	.menu__links {
    	min-width: 100vw;
	}

	.presentation {
		background-image: url(../img/loco-girl-2.png);
		background-size: cover;		
	}

 	.presentation__left-content {
 		display: none;
	}

	.social {
		display: none;
	}

	.box__text_present,
	.vector-links__btn,
	.box__link,
	.scrooll,
	.vector-links__wrapper {
		display: none;
	}	

	.right-content__presentaion {
    	width: 100%;
    	height: 90%;
	}
	
	.presentation__box {
		width: 100%;
        justify-content: center;
        align-items: flex-start;
	}

	.box__title_present {/* не могу сдвинуть на центр. в чет проблема?*/
		width: 80%;
		line-height: 81px;
		font-size: 80px;
		margin-bottom: 0;	
	}

	.lang__around {
		transform: translateY(90vh);/* костыль, чтоб на разныч телефонах на месте было*/
	}

	.lang__around_item {
	    border-right: 1px solid #000;
	    border-bottom: 1px solid #000;
	    width: 15px;
	    height: 15px;
	    transform: rotate(45deg);
	    z-index: 555;
	}
  
	.product__wrapper-img {
		transform: scale(0.7);
	}

	.box__title {
		margin-bottom: 10px;
	}

	.box__subtitle {
		margin-bottom: 16px;
	}

	.product__box__text {
    	margin-bottom: 12px;
	}

	.box__parameter_color {
		width: 23.35px;
		height: 22.89px;
	}
	
	.box__parameter_color-green {
		margin-right: 60px;
	}

	.box__parameter_price {
		line-height: 28px;
		font-size: 20px;
	}
	
	.product {
		flex-direction: column;
	}

	.product__right-content,
	.product__left-content {
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.product__right-content {
		height: 60%;
	}

	.product__left-content {
		height: 40%;
	}

	.product__box {
        height: auto;
        transform: scale(1);
        padding: 25px 31px;
	}

	.bag-gray {
		display: none;
	}

	.bag-pink {
		transform: scale(1.4) translate(0);
	}

	.btn {
		height: 37px;
	}

	.count__wrapper,
	.product__link {
		display: none;
	}

	.box__btn-add {
		width: 100%;
	}

	.clot {
	background: linear-gradient(to right, #EBE3D8 25%, #000 25%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
	height: 100vh;/* высота экрана минус подвал */
	}



	.clot__img {
    transform: scale(.8) translateY(20%);
    align-self: flex-start;
	}

	.clot__link {
		line-height: normal;
	}

	.clot__vector-links {
		align-self: flex-end;
		display: block;
		width: 50%;
	}
	.vector3-1 {
	    width: 141px;
	}
	.footer {
		padding: 0 10px 10px 0;
		background: linear-gradient(to right, #EBE3D8 25%, #000 25%, #000 35%, #EBE3D8 35%, #EBE3D8 100%);
	}
	.footer__dev {
		margin-right: 5px;
		text-transform: uppercase;
		font-size: 10px;
	}
	.footer__whs {	
		display: flex;
		transform: translateY(-1px);
	}

	.footer__webhero {
		font-size: 10px;
		
	}
	.footer__shcool {
		font-size: 8px;
	}
}

	
@media screen and (max-width: 646px) {

}

/* Landscape phones and smaller  разрешение экранов 480х800 */
 @media screen and (max-width: 480px) {
	.presentation__box {
		width: 100%;
        justify-content: center;
        align-items: center;
	}

	.box__title_present {/* не могу сдвинуть на центр. в чет проблема?*/
		width: 80%;
		line-height: 41px;
		font-size: 40px;
		margin-bottom: 0;	
	}
  
	.product__wrapper-img {
		transform: scale(0.5);
	}

	.box__title {
		font-size: 20px;
		line-height: 20px;
		margin: 0;
	}

	.box__subtitle {
		margin-bottom: 16px;
		line-height: 10px;
		font-size: 10px;
		letter-spacing: 0.07em;
	}

	.box__text_product {
	    margin-bottom: 12px;
	    line-height: 13px;
		font-size: 9px;
		width: 252px;
		height: auto;
	}
}